@import "../../theme.scss";

.not-found {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 20px);
  justify-content: center;
  align-items: center;
}

.not-found-img {
  width: 400px;
}

.oops-text {
  color: $text;
  font-size: 20px;
  margin-top: 40px;
}
